/* body{
    display: flex;
    align-items: center;
} */
@font-face {
    font-family: 'bm_spacea9';
    src: url('font/bmspa.woff2') format('woff2'),
         url('font/bmspa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'play';
    src: url('font/play.woff') format('woff2'),
         url('font/play.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.prenom{
    font-family:'bm_spacea9';
    width: max-content;
    height: max-content;
    /* border: red solid; */
    
    /* margin-left: 10vw; */
}
p{
    font-family: 'play';
}
h2{
    font-family: 'play';
}

.zone{
    cursor: none;
    /* margin-left: 20px; */
}

#fusee{
    z-index: 1;
}